
<div class="splash-title">
<h1>Budget App</h1>
</div>
<div class="splash-sign">
<ul>
<li>
  <%= link_to "LOG IN", new_user_session_path, class: "nav-link" %>
 </li>
<li>
    <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link" %>
</li>
</ul>
</div>
