// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.nav-container {
    background-color: #3778c2;
    height: 35px;
    padding: 10px;

    ul {
        list-style: none;
        padding-top: 10px;
        padding-left: 0;
        margin: 0;
        display: flex;

        justify-content: space-between;

        h2 {
            color: white;
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            padding-bottom: 5px;
            line-height: 20px;
        }
    }

    li {
        display: inline-block;

        h2 {
            color: white;
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            padding-bottom: 5px;
            line-height: 20px;
        }


        a {
            color: white;
            text-decoration: none;
        }


    }

}

.group-container {
    height: 75vh;
    background-color: rgb(241, 232, 220);
    overflow: auto;
    margin-bottom: 100px;

    ul {
        list-style: none;
        padding: 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;


        li {

            padding: 1rem;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            height: 50px;
            display: flex;
            justify-content: space-between;
            background-color: #fff;

            div {

                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                height: 100%;


                img {
                    width: 3rem;

                }

                div {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    gap: 0.5rem;

                    a {
                        padding-top: 5px;
                        text-decoration: none;
                        margin: 0;
                        font-size: 1.2rem;
                        color: #718096;
                        height: fit-content;
                    }

                    p {
                        margin: 0;
                        font-size: 0.8rem;
                        color: #a0aec0;
                    }
                }



            }

            p {
                padding-top: 10px;
                margin: 0;
                font-size: 1rem;
                color: #000000;
            }
        }
    }
}

.add-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: #5fb523;

    a {
        text-decoration: none;
        color: #fff;
        background-color: #5fb523;
        padding: 0.5rem 1rem;
        border-radius: 0.20rem;
        font-size: 1rem;
        font-weight: 400;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
    }
}