  <% if user_signed_in? %>
  <div class="nav-container">

<ul class="nav-bar">

  <li class="nav-item">
    <h2>
      <%= "#{current_user.name}" %>
    </h2>
  </li>
    <li class="nav-item">
     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
</ul>
</div>
 <% end %>